<mat-card class="card-container">
  <div *ngIf="mode === forecastInfoType.Day">
    <span>{{ dayName }}</span
    >, <span>{{ dayNumber }}</span>
  </div>

  <div *ngIf="mode === forecastInfoType.Time">
    <p>{{ dayTime }}</p>
  </div>

  <img [src]="icon! | weatherImage" [alt]="iconDescription" />
  <p>
    <strong>{{ description }}</strong>
  </p>
  <p class="humidity">
    <mat-icon>water_drop</mat-icon>
    {{ humidity }}%
  </p>
  <div class="temperature-block">
    <div class="column">
      <span>min:</span>
      <span>{{ minTemp }}°</span>
    </div>
    <div class="column">
      <span>max:</span>
      <span>{{ maxTemp }}°</span>
    </div>
  </div>
</mat-card>
