:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.temperature-block {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.humidity {
  display: flex;

  .mat-icon {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
  }
}
