:host {
  padding: 1rem;
}

.search-field {
  width: 100%;
  max-width: 30rem;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}

.no-data {
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
}
