<weather-app-city-card *ngIf="city" class="city-card" [city]="city"></weather-app-city-card>

<div class="forecast-board">
  <weather-app-day-forecast-wrapper
    *ngFor="let dayForecast of forecastFor5Days"
    class="forecast-card"
    [dayForecast]="dayForecast"
    (showDetails)="showDetails(dayForecast)">
  </weather-app-day-forecast-wrapper>
</div>

<weather-app-day-forecast-details
  *ngIf="dayForecast"
  [@slideIn]
  [dayForecast]="dayForecast"
  class="forecast-details"></weather-app-day-forecast-details>
