.forecast-card {
  flex: 1;
}

.day-forecast {
  display: flex;
  gap: 0.5rem;
  overflow: auto;
  background-color: #a4acd7;
}

@media screen and (max-width: 768px) {
  .day-forecast {
    flex-wrap: wrap;
  }
}
